{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
    {% block content %}
    <div class="box">
    <big>XML VALIDATOR PROJECT</big>
    <div class="tech">Using DTD & XML Schema</div><br>


    <div class="name" id="left">
      Created By:<li>NSSIRI Ilyass</li>
      <li>NICER Mohamed</li>
    </div>


    <div class="name" id="right">
     Supervised By: <li>Madam ZAHIR Jihad</li>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <br>
        <p style="text-align: center;" id="copy">&copy; 2021</p>
    </div>
    <br>
    </div> 

    {% endblock %}