{% extends "base.html" %}
{% block title %}XML Schema{% endblock %}
{% block content %}
<fieldset>
    <legend>XML Schema</legend>
    <br><br>
    <div class="d-flex justify-content-center">
        <button class="button-35" role="button" id="Mybtn1">Using File Input</button>
        <button class="button-35" role="button" id="Mybtn2">Using Text Input</button>
    </div>
     <!-- file xsd -->
    <form id="form1" method="POST" action="xmlschema" enctype="multipart/form-data">
        <label class="file">XML:</label>
        <input type="file" name="file1">
        <label>XSD:</label>
      	<input type="file" name="file2">
      	<input type="submit" value="Submit">
    </form>
    <script>
    var valide = false;
    $(document).ready(function(){
      $('#Mybtn1').click(function(){
        $('#form1').toggle(500);
          if(!valide){
            $('#Mybtn1').css('background-color','#D64161');
            $('#Mybtn1').css('color','ghostwhite');
            valide = true;
          }else{
           $('#Mybtn1').css('background-color','#fff');
           $('#Mybtn1').css('color','black');
           valide = false;
          }
      });
    });
    </script>
    <br>
    <form id="form2" action="XSD" method="POST">

        <br>
<div class="d-flex justify-content-center">
        <label class="text">XML:</label>
        <textarea  name="xml" rows="5" cols="50" id="demo-bootstrap-textarea-line"></textarea>

        <br>
        <label class="text">XSD:</label>
        <textarea name="xsd" rows="5" cols="50" ></textarea>
</div>
        <br>
        <input type="submit" value="Submit">
    </form>
    <div class="card-header">Output</div>
    <div class="card-body">
    <h5 class="card-text" id="msg">{{message}}</h5>
    <h5 class="card-text" id="msg3">{{message3}}</h5>
    </div>
</fieldset>
<script>
var valide1 = false;
$(document).ready(function(){
    $('#Mybtn2').click(function(){
        $('#form2').toggle(500);
        if(!valide1){
            $('#Mybtn2').css('background-color','#D64161');
            $('#Mybtn2').css('color','ghostwhite');
            valide1 = true;
        }else{
            $('#Mybtn2').css('background-color','#fff');
            $('#Mybtn2').css('color','black');
            valide1 = false;
        }
    });
});
</script>

<script>
$('document').ready(function(){

      $('#demo-bootstrap-textarea-line').linenumbers();
});
</script>

    {% endblock %}